/*
style="color:#a0a0a0;" --> licht grijs
style="color:#4a4a4a;"--> donker grijs
style="color:#e1a3ff;" --> licht paars
style="color:#6c009e;" --> donker paars
style="color:#feb5ff;" --> licht rosa-paars
style="color:#9a009c;" --> donker rosa-paars
*/

html, body{
    background-color: lavender;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 30px;
    height: 100%;
}
header{
    background-color:#9a009c;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 1px;
    position: relative;
}
header h1{
    color:lavender;
    font-size: 40px;
}
header img{
    border-radius: 160px;
    width: 300px;
    border: 10px solid lavender;
}
main{
    min-width: 800px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    position: relative;
    overflow: hidden;
}
main img{
    max-width: 100%;
}

.parallax-container{
    position: absolute;
}

.parallax-container-flipped {
    position: absolute;
    transform: scaleX(-1);
    width: 100%;
}
.parallax-item{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    
}

.parallax-item img{
    max-width: 50%;
    max-height: 50%;
    filter: drop-shadow(3px 2px 2px #6c009e);
    
}
.info-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}


h2{
    font-size: 25px;
    color: #a0a0a0;
}
h1{
    font-size: 20px;
}

a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: darkorchid;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
  }
  iframe {
      height: 435px;
  }

.background{
    background-color: #e1a3ff;
    margin-top: 20px;
    margin-bottom: 40px;
    height: auto;
    overflow: auto;
    padding: 14px;
    border-radius: 10px;
    max-width: 800px;
}

.wrapper {
    vertical-align: top;
    
}
.wrapper-doubleheight{
    vertical-align: top;
    
}

div .left{
    float: left;
    /* display: inline-block; */
    width: 50%;
}
div .right {
    float: right;
    /* display: inline-block; */
    width: 50%;
}

.collapsible {
    background-color: #9a009c;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-family: Ubuntu;
  }
  
  .active, .collapsible:hover {
    background-color: #e1a3ff;
  }
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: lavender;
    transition: max-height 0.4s ease-out;
  }

footer{
    text-align: center;
    line-height: 5px;
    padding: 20px;
    background-color:#9a009c;
    color: white;
    position: relative;
    margin: 0;
}
footer p{
    margin: 0;
}